@font-face {
  font-family: "ViewerIcons";
  src: url("./viewer-icons.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.vi {
  display: inline-block;
  font-family: "ViewerIcons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  text-transform: none;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vi-add-orthographic-view::before { content: "\e001"; }
.vi-add-perspective-view::before { content: "\e002"; }
.vi-boolean-intersection::before { content: "\e003"; }
.vi-boolean-subtraction::before { content: "\e005"; }
.vi-boolean-subtraction-inverted::before { content: "\e004"; }
.vi-boolean-union::before { content: "\e006"; }
.vi-camera::before { content: "\e008"; }
.vi-camera-reset::before { content: "\e007"; }
.vi-chevron-down::before { content: "\e00a"; }
.vi-chevron-down-framed::before { content: "\e009"; }
.vi-chevron-left::before { content: "\e00c"; }
.vi-chevron-left-framed::before { content: "\e00b"; }
.vi-chevron-right::before { content: "\e00e"; }
.vi-chevron-right-framed::before { content: "\e00d"; }
.vi-chevron-up::before { content: "\e010"; }
.vi-chevron-up-framed::before { content: "\e00f"; }
.vi-clear-selection::before { content: "\e011"; }
.vi-clipboard::before { content: "\e012"; }
.vi-connect-document::before { content: "\e013"; }
.vi-copy-link::before { content: "\e014"; }
.vi-cross-framed::before { content: "\e015"; }
.vi-cube::before { content: "\e016"; }
.vi-document::before { content: "\e017"; }
.vi-eye::before { content: "\e01a"; }
.vi-eye-semistroked::before { content: "\e018"; }
.vi-eye-stroked::before { content: "\e019"; }
.vi-file::before { content: "\e01b"; }
.vi-files::before { content: "\e01c"; }
.vi-folder::before { content: "\e01f"; }
.vi-folder-empty::before { content: "\e01d"; }
.vi-folder-expand::before { content: "\e01e"; }
.vi-frame-selected::before { content: "\e020"; }
.vi-funnel::before { content: "\e021"; }
.vi-invert-selection::before { content: "\e022"; }
.vi-line::before { content: "\e024"; }
.vi-line-variadic::before { content: "\e023"; }
.vi-load::before { content: "\e025"; }
.vi-mesh::before { content: "\e026"; }
.vi-minus::before { content: "\e028"; }
.vi-minus-framed::before { content: "\e027"; }
.vi-object3d::before { content: "\e029"; }
.vi-orthographic-view::before { content: "\e02a"; }
.vi-perspective-view::before { content: "\e02b"; }
.vi-plane::before { content: "\e02c"; }
.vi-plus::before { content: "\e02e"; }
.vi-plus-framed::before { content: "\e02d"; }
.vi-reload::before { content: "\e02f"; }
.vi-reset-camera::before { content: "\e030"; }
.vi-save::before { content: "\e031"; }
.vi-scene::before { content: "\e032"; }
.vi-select-all::before { content: "\e033"; }
.vi-select-saved::before { content: "\e034"; }
.vi-socket-connected::before { content: "\e035"; }
.vi-space-markers::before { content: "\e036"; }
.vi-split-horizontal::before { content: "\e037"; }
.vi-split-vertical::before { content: "\e038"; }
.vi-trash-bin::before { content: "\e039"; }
.vi-update-saved::before { content: "\e03a"; }
.vi-x-cross::before { content: "\e03c"; }
.vi-x-cross-framed::before { content: "\e03b"; }
