@font-face {
  font-family: "ViewerIcons";
  src: url("./viewer-icons.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.vi {
  display: inline-block;
  font-family: "ViewerIcons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  text-transform: none;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vi-cube::before { content: "\e001"; }
.vi-eye::before { content: "\e004"; }
.vi-eye-semis-stroked::before { content: "\e002"; }
.vi-eye-stroked::before { content: "\e003"; }
.vi-invert-selection::before { content: "\e005"; }
.vi-line::before { content: "\e007"; }
.vi-line-variadic::before { content: "\e006"; }
.vi-mesh::before { content: "\e008"; }
.vi-object3d::before { content: "\e009"; }
.vi-plane::before { content: "\e00a"; }
.vi-select-all::before { content: "\e00b"; }
.vi-space-markers::before { content: "\e00c"; }
